:root {
  --buttonSize: 64px;
  --buttonMargin: 8px;
  --border-radius: 12px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.calculator {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.results {
  border-radius: var(--border-radius);
  font-weight: 900;
  box-shadow: inset -3px -3px 5px #ffffff30, inset 3px 3px 15px #00000030;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 32pt;
  overflow: hidden;

  width: calc(calc(var(--buttonSize) * 4) + 32px);

  height: calc(var(--buttonSize) + 16px);

  margin-left: 8px;
  margin-bottom: 24px;
  padding-right: 16px;
}

.numbers {
  max-width: calc(calc(var(--buttonSize) * 4) + 64px);
  display: flex;
  flex-wrap: wrap;
}

.operators {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16pt;

  margin: var(--buttonMargin);
  width: var(--buttonSize);
  height: var(--buttonSize);
  border-radius: var(--border-radius);
  border: none;

  box-shadow: -1px -1px 3px #ffffff30, 1px 1px 10px #00000030;
  background-color: white;
}

button[id="0"] {
  width: calc(calc(var(--buttonSize) * 2) + 16px);
}

button:hover,
.butColor {
  background-color: greenyellow;
}
